.footer{
    &__box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);
        justify-items: center;
        padding-top: 62px;
        padding-bottom: 30px;
    }
    &__adress{
        @include text (400, 16px, 20px, $main-regular)
        
    }
    &__map{
        padding-top: 10px;
        padding-bottom: 21px;
        @include text (700, 12px, 15px, $regular);
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__fb{
        display: inline-block;
        width: 39px;
        height: 38px;
        &:hover path{
            fill:$accent;
        }
    }
    &__phone{
        margin: 10px 0;
        @include text (700, 16px, 20px, $main-alt);
        
    }
    &__email{
        margin-bottom: 30px;
        @include text (700, 16px, 20px, $regular);
        &:hover{
            color: $accent;
        }
    }
    &__text{
        @include text (400, 16px, 20px, $grey-text);
        
    }
}
@media screen and (min-width: 768px){
    .footer{
        &__box{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, min-content);
            justify-items: flex-start;
            align-items: center;
            padding-top: 62px;
            padding-bottom: 30px;
        }
        &__adress{

            grid-column: span 2;
        }
        &__map{
            padding: 0;
        }
        &__fb{
            width: 38px;
        }
        &__phone{
            margin: 0;
        }
        &__email{
            margin: 0;
            grid-column: span 2;
        }
        &__text{
            grid-column-start: 4;
            grid-column-end: -1;
            grid-row-start:1;
            grid-row-end: 2;
        }
    }
}