.footer{
    &__box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        align-items: center;
        justify-items: center;
        padding-top: 62px;
        padding-bottom: 30px;
    }
    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 21px;
        padding-bottom: 30px;
    }
    &__adress{
        @include text (400, 16px, 20px, $main-regular)
    }
    &__map{
        padding-top: 10px;
        @include text (700, 12px, 15px, $regular);
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover{
            color: $accent;
        }
    }
    &__fb{
        width: 39px;
        height: 38px;
        &:hover path{
            fill:$accent;
        }
    }
    &__phone{
        margin: 10px 0;
        @include text (700, 16px, 20px, $main-alt);
    }
    &__email{
        @include text (700, 16px, 20px, $regular);
        &:hover{
            color: $accent;
        }
    }
    &__text{
        @include text (400, 16px, 20px, $grey-text);
    }
}
@media screen and (min-width: 768px){
    .footer{
        &__box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content min-content;
            padding-top: 62px;
            padding-bottom: 30px;
        }
        &__top{
            grid-column-start: 1;
            grid-row-start: 1;
            justify-self: flex-start;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        &__mid{
            grid-column-start: 1;
            grid-row-start: 2;
            grid-column: span 2;
            justify-self: flex-start;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 21px;
            padding-bottom: 30px;
        }
        &__map{
            display: flex;
            align-items: center;
            order: -2;
            padding: 0;
            &::before{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #B3B3BA;
                margin: 0 10px;
            }
        }
        &__phone{
            display: flex;
            align-items: center;
            &::before{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #B3B3BA;
                margin: 0 10px;
            }
        }
        &__email{
            display: flex;
            align-items: center;
            &::before{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #B3B3BA;
                margin: 0 10px;
            }
        }
        &__text{
            justify-self: flex-end;
        }
    }
}