.gradient-content{
    padding: 0px 15px 60px ;
    &__block{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 6(16.6%);
    }
    &__arrow{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        @include text (700, 14px, 17px, $regular);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        &::after{
            content: '';
            display: inline-block;
            background-image: url(../../img/arrow.svg);
            width: 12px;
            height: 13px;
        }
    }
    &__title{
        @include text (700, 30px, 37px, transparent);
        @include red-text;
    }
    &__box{
        padding-top: 30px;
        & h3{
        @include text (700, 22px, 27px, $regular);
        padding-top: 30px;
        padding-bottom: 15px;
        }

        & p{
            @include text (400, 16px, 26px, $basic);
        }
    }
    &__icon{
        display: inline-block;
        background: $basic;
        border-radius: 24px;
        padding: 14px;
        & img{
            display: block;
        }
    }


    
}