.gradient-slider{
    padding: 30px 15px;    
    &__box{
        display: flex;
        overflow: auto;
        // margin: 0 15px;
        overflow: -mon-scrollbars-none;
        -ms-overflow-style: none;
        border-bottom: 4px solid rgba(255, 255, 255, 0.3);
        &::-webkit-scrollbar{
            width: 0;
        }
        & button{
            white-space: nowrap;
            @include text (700, 30px, 37px, $grey-text);
            background-color: transparent;
            border: none;
            padding: 0 ;
            margin-right: 30px;
            &:first-child{
                @include red-text;
            }
        }
    }
    &__text{
        padding-top: 30px ;
        & h3{
            @include text (700, 20px, 24px, $basic);
            padding-bottom: 30px
        }
        & p{
            @include text (400, 19px, 30px, $basic);
        }
    }
}