.gradient-slider{
    padding: 30px 15px;
    &__block{
        border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    }   
    &__box{
        display: flex;
        overflow: auto;
        overflow: -mon-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            width: 0;
        }
        & button{
            cursor: pointer;
            white-space: nowrap;
            @include text (700, 30px, 37px, $grey-text);
            background-color: transparent;
            border: none;
            padding: 0 ;
            margin-right: 30px;
        }
    }
    &__btn{
        &--active{
            @include red-text-revers;
        }
        &:not(.gradient-slider__btn--active):hover {
            @include red;
        }
        &:not(.gradient-slider__btn--active):active{
            @include red-text-revers;
        }
    }
    &__text{
        padding-top: 30px ;
        & h3{
            @include text (700, 20px, 24px,  $basic-white);
            padding-bottom: 30px;
        }
        & p{
            @include text (400, 19px, 30px,  $basic-white);
        }
    }
}
@media screen and (min-width: 768px){
    .gradient-slider{
        padding: 60px 0;
        & button{
            white-space: nowrap;
            font-size: 38px;
            line-height: 46px;
            margin-right: 30px;
        }
        &__btn{
            &:not(.gradient-slider__btn--active):hover {
                font-size: 38px;
                line-height: 46px;
            }
        }
        &__text{
            padding-right: 15px ;
            padding-top: 60px;
            & h3{
                @include text (700, 30px, 37px,  $basic-white);
            }
        }
        
    }
}
@media screen and (min-width: 1024px){
    .gradient-slider{
        display: grid;
        grid-template-columns:  min-content 1fr;
        grid-template-rows: min-content;
        gap: 60px;
        align-items: center;
        padding-left: 120px;
        padding-right: 120px;
        &__block{
            width: 439px;
            height: 303px;
            border-bottom: 0;
        }
        &__box{
            flex-direction: column;
            align-items: flex-end;
            padding-right: 60px;
            border-right: 4px solid rgba(255, 255, 255, 0.3);
            & button{
                text-align: right;
                flex-basis: content;
                margin: 15px 0;
            }
        }
        &__text{
            padding:  0;
        }
    }
}