.gradient-content{
    display: flex;
    flex-direction: column;
    padding: 0px 15px 60px ;
    &__block{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);
    }
    &__arrow{
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-items: flex-start;
        margin-bottom: 10px;
        @include text (700, 14px, 17px, $regular);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        &::after{
            content: '';
            display: inline-block;
            border: 3px solid $regular;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
        &:hover{
            color: $accent;
        }
        &:hover::after{
            border: 3px solid $accent;
            border-left: 0;
            border-top: 0;
        }
    }
    &__title{
        @include red-text;
    }
    &__box{
        padding-top: 30px;
        & h3{
        @include text (700, 22px, 27px, $regular);
        padding-top: 30px;
        padding-bottom: 15px;
        }

        & p{
            @include text (400, 16px, 26px,  $basic-white);
        }
    }
    &__icon{
        display: inline-block;
        background:  $basic-white;
        border-radius: 24px;
        padding: 14px;
        & img{
            display: block;
        }
    }
}

@media screen and (min-width: 768px){
    .gradient-content{
        padding-left: 0;
        padding-right: 0;
        &__title{
            font-size: 38px;
            line-height: 46px;
        }
        &__block{
            display: grid;
            grid-template-columns: 1fr  1fr;
            grid-template-rows: repeat(3, min-content);
            gap: 60px;
            padding-top: 60px;
        }
        &__box{
            padding-top: 0;
            & h3{
            @include text (700, 22px, 27px, $regular);
            padding-top: 30px;
            padding-bottom: 15px;
            }
            & p{
                @include text (400, 16px, 26px,  $basic-white);
            }
        }
    }
}
@media screen and (min-width: 1024px){
    .gradient-content{
        &__block{
            display: grid;
            grid-template-columns: 1fr  1fr 1fr;
            grid-template-rows: repeat(2, min-content);
        }
    }
}