.h-bg{
    background-image: url(../img/symbol-sm.png);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 600px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 339px;
        & h1{
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 129px;
        padding-bottom: 159px;
        }
        & a{
            width: 42px;
            height: 42px;
        }
        & a:hover circle{
            stroke: $accent;
        }
        & a:hover path{
            stroke: $accent;
        }
    }
}
@media screen and (min-width: 768px){
    .h-bg{
        background-image: url(../img/symbol-tabl.png);
        background-repeat: no-repeat;
        height: 1024px;
        &__content{
            & h1{
                padding-top: 269px;
                padding-bottom: 417px;
            }
        }
    }
}
@media screen and (min-width: 1024px){
    .h-bg{
        background-image: url(../img/symbol-lab.png);
        background-position: center top;
        height: 768px;
        &__content{
            & h1{
                padding-top: 245px;
                padding-bottom: 289px;
            }
        }
    }
}