.header{
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    align-items: center;
    padding-bottom: 129px;
    &__top{
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    &__lang{
        display: flex;
        &-item{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 5px 7px;
            border-radius: 8px;
            &:not(.header__lang-item--active):hover{
                color: #ffff;
                background-color: #F0145A;
            }
            &--active{
                color: #ffff;
                background-color: #F0145A;
            }
        }
    }
    &__phone{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__adress,
    &__fb{
        display: none;
    }
    &__logos{
        display: flex;
        align-items: flex-start;
    }
    &__logo{
        padding: 15px 4px 10px 0 ;
        width: 69px;
    }
    &__page{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        // &::before{
        //     content: '';
        //     display: inline-block;
        //     width: 13px;
        //     height: 26px;
        //     background-image: url('../../img/slash-verysmall.svg');
        //     background-size: 13px 26px;
        // }
    }

}