.main-content{
    padding-top: 50px;
    &__slider{
        margin: 0 15px;
        display: grid;
        grid-template-columns: 315px;
        grid-template-rows:  min-content min-content min-content;
    }
    &__pic{
        & img {
        height: 500px;
        width:  100%;
        object-fit: cover;
        display: block;
        border-radius: 12px 12px 0px 0px;
        }
    }
    &__text{
        padding: 30px;
    }
    &__title{
        @include red-text;
        padding-top: 5px;
        padding-bottom: 30px;
        
    }
    &__regular{
        @include text (700, 16px, 20px, $grey-text);
    }
    &__small{
        @include text (400, 14px, 22px, $grey-text);
    }
    
    &__btn{
        justify-self: center;
    }
    &__circle{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 0;
        background-color: rgba(36, 163, 255, 0.2);
        &:hover:not(.main-content__circle--active){
            background-color: rgba(36, 163, 255, 0.6);
        }
        &--active{
            background-color: rgba(36, 163, 255, 1)
        }
        
    }
    &__circle:active{
        background-color: rgba(36, 163, 255, 1)
    }
    
    &__clients{
        text-align: center;
        padding-top: 60px;
        margin: 0 -15px;
        & h2{
            @include text(700, 14px, 17px, $main-regular);
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
    }
    &__list--none{
        display: none;
    }
    &__list-1{
        @include item(#1C4280);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 217px;
            height: 48px;
        }
    }
    &__list-2{
        @include item(#143646);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 199px;
            height: 32px;
        }
    }
    &__list-3{
        @include item(transparent);
        background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 179px;
            height: 44px;
        }
    }
    &__list-4{
        @include item( #9E4DC3);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 180px;
            height: 42px;
        }
    }
    &__list-5{
        @include item(#FD9339);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 174px;
            height: 44px;
        }
    }
    &__list-6{
        @include item(#E2E2E4);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 194px;
            height: 48px;
        }
    }
    &__list-7{
        @include item(#C71C36);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 138px;
            height: 61px;
        }
    }
    &__list-8{
        @include item(#DCF3F9);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 146px;
            height: 76px;
        }
    }
    &__list-9{
        @include item(#E2E2E4);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 182px;
            height: 60px;
        }
    }
    &__list-10{
        @include item(#282240);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 181px;
            height: 38px;
        }
    }
    &__list-11{
        @include item(#1D4568);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 189px;
            height: 46px;
        }
    }
    &__list-12{
        @include item( #000000);
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            padding: 0;
            width: 152px;
            height: 95px;
        }
    }
    &__list--none{
        display: none;
    }
    &__recommended {
        padding-top: 30px;
        & h2{
            @include red-text;
            padding-top: 5px;
            padding-bottom: 30px;
        }
    }
    &__block{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
    }
    &__arrow{
        @include text (700, 14px, 17px, $regular);
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        &::after{
            content: '';
            display: inline-block;
            background-image: url(../../img/arrow.svg);
            width: 12px;
            height: 13px;
        }
    }
    &__item img{
        border-radius: 8px 8px 0px 0px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        
    }
    &__box {
        padding: 30px;
        & h3{
            @include text (700, 16px, 20px, $regular);
            
        }
    }
    &__date{
        @include text (700, 12px, 15px, $grey-text);
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 34px;
    }
    &__info{
        @include text (400, 14px, 22px, $basic-black)
    }
}

@media screen and (min-width: 768px){
    .main-content{
        padding-top: 80px;
        &__slider{
            margin: 0;
            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:  min-content min-content min-content;
        }
        &__title{
            font-size: 38px;
            line-height: 46px;
        }
        &__text{
            padding-bottom: 60px;
        }
        &__clients{
            margin: 0;
        }
        &__grid{
            display: grid;
            grid-template-columns: repeat(3,256px);
            grid-template-rows:  repeat(4,120px);
        }
        &__list--none{
            display: flex   ;
            
        }
        &__list-1{
            width: 256px;
            height: 120px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{
                padding: 0;
                width: 217px;
                height: 48px;
            }
        }
        &__recommended {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 648px;
        }
        &__block{
            display: grid;
            grid-template-columns: 309px 309px;
            grid-template-rows: repeat(2, min-content);
            gap: 30px;
        }
       &__item{
           &--span{
            grid-column: span 2;
           }
       }
    }
    
}