.main-menu{
    
    &__btn{
        width: 18px;
        height: 12px;
        position: relative;
        cursor: pointer;
        & span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: $basic-white;
        position: absolute;
        transition: all .3s ease;
        }
        &--white span{
            background-color: $main-regular;
        }
        & span:nth-child(1) {
            top: 0;
        }
        & span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        & span:nth-child(3) {
            bottom: 0;
        }
        &.show{
           display: none;
        }
    }
    &__bg{
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 102px;
        width: 100%;
        padding: 12px;
        text-align: center;
        background: #FFFFFF;
        border-radius: 12px 12px 0px 0px;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        &.show{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        }
    }
    &__cross{
        align-self: flex-end;
        width: 32px;
        height: 32px;
    }
    &__list{
        padding-top: 20px;
        list-style: none;
        padding-left:0; 
    }
    &__item:not(:last-child){
        padding-bottom: 15px;
    }
    &__link{
        @include text(700, 24px, 29px, $regular);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        &:not(.main-menu__link--accent):hover{
            color:$hover;
        }
        &:not(.main-menu__link--accent):active{
            color:$active;
        }
        &--accent{
            color: $accent;
        }
    }
}
@media screen and (min-width: 768px){
    .main-menu{
        &__btn{
            display: none;
           
        }
        &__cross{
            display: none;
        }
        &__bg{ 
            position: relative;
            top: 0;
            padding: 0;
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            background-color:transparent;
        }
        &__list{
            display: flex;
            list-style: none;
            padding: 12px;
            text-align: center;
            background: none;
            border-radius: 0;
            padding: 0;
            
        }
        &__item{
            margin-right: 15px;
            padding: 0;
            &:not(:last-child){
                padding-bottom: 0;
            }
        }
        
        &__link{
            @include text(700, 16px, 20px, $basic-white);
            font-weight: 700;
            &:not(.main-menu__link--accent):hover{
                color:$accent;
                border-bottom: 2px solid $accent;
            }
            &:not(.main-menu__link--accent):active{
                color:$accent;
                border-bottom: 2px solid $accent;
            }
            &--accent{
                color: $accent;
                border-bottom: 2px solid $accent; 
            }
            &--white{
                @include text(700, 16px, 20px, $regular);
            }
        } 
    }
}
@media screen and (min-width: 1024px){
    .main-menu{
        align-self: flex-start;
        &__list{
            justify-content: flex-end;
        }
        &__item:last-child {
            margin-right: 0;
        }
    }
}
    
    