.main-menu{
    &__btn{
        width: 32px;
        height: 32px;
        background-image: url(../../img/hamburger-white.png);
        border: 0;
        background-color: transparent;
        cursor: pointer;
        &--white{
            background-image: url(../../img/hamburger.png);
        }
    }
    &__list{
        position: absolute;
        right: 0;
        top: 102px;
        width: 100%;
        list-style: none;
        padding: 64px 12px 12px 12px;
        text-align: center;
        background: #FFFFFF;
        border-radius: 12px 12px 0px 0px;
        display: none;
        & li:not(:last-child){
            padding-bottom: 15px;
        }
        & a{
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #24A3FF;
            text-decoration: none;
            padding: 7px 0;
           
        }
        & a:hover{
            color:$hover;
        }
        & a:active{
            color:$active;
        }
        & .accent{
            color:$accent;
        }
        
    }
    
}
@media screen and (min-width: 768px){
    .main-menu{
        &__btn{
        display: none;
        }
        &__list{
            position: relative;
            right: 0;
            top: 0;
            display: flex;
            list-style: none;
            padding: 12px;
            text-align: center;
            background: none;
            border-radius: 0;
            padding: 0;
            & li{
                margin-right: 15px;
                padding: 0;
                
                &:not(:last-child){
                    padding-bottom: 0;
                }
                & a{
                    padding: 0;
                    padding-bottom: 3px;
                    @include text(700, 16px, 20px, $basic-white);
                    &:hover{
                    color: $basic-white;
                    border-bottom: 2px solid $basic-white;
                    }
                    
                }
                & a:active{
                        color:$accent;
                        border-bottom: 2px solid $accent;
                }
            }   
        }
    }
}
@media screen and (min-width: 1024px){
    .main-menu{
        align-self: flex-start;
        &__list{
            justify-content: flex-end;
        }
        & li:last-child {
            margin-right: 0;
        }
    }
}
    
    