@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat_bold.woff2") format("woff2"), url("../fonts/montserrat_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat_regular.woff2") format("woff2"), url("../fonts/montserrat_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  min-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-resonsive {
  max-width: 100%;
  height: auto;
}

.h-bg {
  background-image: url(../../img/symbol-sm.png);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.h-bg h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}

.h-bg__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 339px;
}

.h-bg__content a {
  width: 42px;
  height: 42px;
}

.h-bg__content a:hover circle {
  stroke: #F0145A;
}

.h-bg__content a:hover path {
  stroke: #F0145A;
}

.header {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 129px;
}

.header__top {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 7px;
  border-radius: 8px;
}

.header__lang-item:not(.header__lang-item--active):hover {
  color: #ffffff;
  background-color: #F0145A;
}

.header__lang-item--active {
  color: #ffffff;
  background-color: #F0145A;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header__adress, .header__fb {
  display: none;
}

.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  padding: 15px 4px 10px 0;
  width: 69px;
}

.header__page {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__page::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 26px;
  background-image: url("../../img/slash-verysmall.svg");
  background-size: 13px 26px;
}

.main-menu__btn {
  width: 32px;
  height: 32px;
  background-image: url(../../img/hamburger-white.png);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-menu__list {
  position: absolute;
  right: 0;
  top: 102px;
  width: 100%;
  list-style: none;
  padding: 64px 12px 12px 12px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  display: none;
}

.main-menu__list li:not(:last-child) {
  padding-bottom: 15px;
}

.main-menu__list a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #24A3FF;
  text-decoration: none;
  padding: 7px 0;
}

.main-menu__list a:not(.accent):hover {
  color: #0085FF;
}

.main-menu__list a:not(.accent):active {
  color: #006CCF;
}

.main-menu__list .accent {
  color: #F0145A;
}

.gradient {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.gradient::before {
  content: '';
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  height: 10px;
}

.gradient::after {
  content: '';
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  height: 10px;
}

.gradient-slider {
  padding: 30px 15px;
}

.gradient-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow: -mon-scrollbars-none;
  -ms-overflow-style: none;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

.gradient-slider__box::-webkit-scrollbar {
  width: 0;
}

.gradient-slider__box button {
  white-space: nowrap;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 30px;
}

.gradient-slider__box button:first-child {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.gradient-slider__text {
  padding-top: 30px;
}

.gradient-slider__text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 30px;
}

.gradient-slider__text p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
}

.gradient-content {
  padding: 0px 15px 60px;
}

.gradient-content__block {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6 16.6%;
}

.gradient-content__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.gradient-content__arrow::after {
  content: '';
  display: inline-block;
  background-image: url(../../img/arrow.svg);
  width: 12px;
  height: 13px;
}

.gradient-content__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: transparent;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.gradient-content__box {
  padding-top: 30px;
}

.gradient-content__box h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  padding-top: 30px;
  padding-bottom: 15px;
}

.gradient-content__box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.gradient-content__icon {
  display: inline-block;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
}

.gradient-content__icon img {
  display: block;
}

.main-content {
  padding-top: 50px;
}

.main-content__slider {
  margin: 0 15px;
  display: grid;
  grid-template-columns: 315px;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
}

.main-content__pic img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 12px 12px 0px 0px;
}

.main-content__text {
  padding: 30px;
}

.main-content__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.main-content__regular {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.main-content__small {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

/*# sourceMappingURL=style.css.map */
