*{
    box-sizing: border-box;
}
    
.body {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
	font-style: normal;
	font-weight: 400 ;
}

.container{
    max-width: 1232px;
    min-width: 991px;
    padding: 0 16px;
    margin: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.img-resonsive{
    max-width: 100%;
    height: auto;
}

// a{
//     color: $red;
//     &:hover{
//         color: $black;
//     } 
// }