@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat_bold.woff2") format("woff2"), url("../fonts/montserrat_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat_regular.woff2") format("woff2"), url("../fonts/montserrat_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.body {
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #F5F5FA;
}

.container {
  max-width: 1470px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-resonsive {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
  .container--clients {
    max-width: 1024px;
    min-width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container--clients {
    max-width: 1470px;
    min-width: 1024px;
  }
}

.h-bg {
  background-image: url(../../img/symbol-sm.png);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
}

.h-bg__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 339px;
}

.h-bg__content h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 129px;
  padding-bottom: 159px;
}

.h-bg__content a {
  width: 42px;
  height: 42px;
}

.h-bg__content a:hover circle {
  stroke: #F0145A;
}

.h-bg__content a:hover path {
  stroke: #F0145A;
}

@media screen and (min-width: 768px) {
  .h-bg {
    background-image: url(../../img/symbol-tabl.png);
    background-repeat: no-repeat;
    height: 1024px;
  }
  .h-bg__content h1 {
    padding-top: 269px;
    padding-bottom: 417px;
  }
}

@media screen and (min-width: 1024px) {
  .h-bg {
    background-image: url(../../img/symbol-lab.png);
    background-position: center top;
    height: 768px;
  }
  .h-bg__content h1 {
    padding-top: 245px;
    padding-bottom: 289px;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background: rgba(245, 245, 250, 0.2);
  margin: 0 -15px;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 7px;
  border-radius: 8px;
}

.header__lang-item:not(.header__lang-item--active):hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__lang-item:not(.header__lang-item--active):active {
  color: #ffffff;
  background-color: #F0145A;
}

.header__lang-item--active {
  color: #ffffff;
  background-color: #F0145A;
}

.header__lang--white a:not(.header__lang-item--active) {
  color: #B3B3BA;
}

.header__lang--white a:not(.header__lang-item--active):not(.header__lang-item--active):hover {
  color: #ffffff;
  background-color: #F0145A;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header__phone:hover {
  color: #F0145A;
}

.header__phone--white {
  color: #B3B3BA;
}

.header__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.header__fb {
  width: 24px;
  height: 24px;
}

.header__fb:hover path {
  fill: #F0145A;
}

.header__adress, .header__fb {
  display: none;
}

.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 15px;
  width: 69px;
}

.header__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
}

.header__page::before {
  content: '';
  display: inline-block;
  background-image: url("../../img/slash-verysmall.svg");
  width: 12px;
  height: 26px;
}

@media screen and (min-width: 768px) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: min-content min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content min-content;
    padding-top: 50px;
  }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    background: none;
  }
  .header__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__adress::before {
    content: '';
    margin-right: 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #E6E6F0;
  }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__phone::before {
    content: '';
    margin: 0 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #E6E6F0;
  }
  .header__phone::after {
    content: '';
    margin: 0 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #E6E6F0;
  }
  .header__fb {
    display: block;
  }
  .header__logos {
    grid-column: span 2;
  }
  .header__logo {
    padding: 30px 0;
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -ms-grid-rows: min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content;
    gap: 16.5px;
    padding-top: 50px;
  }
  .header__top {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0 15px;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .header__logos {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: -1;
  }
  .header__logo {
    padding: 0;
    width: 130px;
  }
}

.main-menu__btn {
  width: 32px;
  height: 32px;
  background-image: url(../../img/hamburger-white.png);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-menu__btn--white {
  background-image: url(../../img/hamburger.png);
}

.main-menu__list {
  position: absolute;
  right: 0;
  top: 102px;
  width: 100%;
  list-style: none;
  padding: 64px 12px 12px 12px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  display: none;
}

.main-menu__list li:not(:last-child) {
  padding-bottom: 15px;
}

.main-menu__list a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #24A3FF;
  text-decoration: none;
  padding: 7px 0;
}

.main-menu__list a:hover {
  color: #0085FF;
}

.main-menu__list a:active {
  color: #006CCF;
}

.main-menu__list .accent {
  color: #F0145A;
}

@media screen and (min-width: 768px) {
  .main-menu__btn {
    display: none;
  }
  .main-menu__list {
    position: relative;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 12px;
    text-align: center;
    background: none;
    border-radius: 0;
    padding: 0;
  }
  .main-menu__list li {
    margin-right: 15px;
    padding: 0;
  }
  .main-menu__list li:not(:last-child) {
    padding-bottom: 0;
  }
  .main-menu__list li a {
    padding: 0;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  .main-menu__list li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  .main-menu__list li a:active {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .main-menu__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-menu li:last-child {
    margin-right: 0;
  }
}

.gradient {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.gradient::before {
  content: '';
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  height: 10px;
}

.gradient::after {
  content: '';
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  height: 10px;
}

.gradient-slider {
  padding: 30px 15px;
}

.gradient-slider__block {
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

.gradient-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow: -mon-scrollbars-none;
  -ms-overflow-style: none;
}

.gradient-slider__box::-webkit-scrollbar {
  width: 0;
}

.gradient-slider__box button {
  cursor: pointer;
  white-space: nowrap;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 30px;
}

.gradient-slider__btn--active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.gradient-slider__btn:not(.gradient-slider__btn--active):hover {
  background: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-slider__btn:not(.gradient-slider__btn--active):active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.gradient-slider__text {
  padding-top: 30px;
}

.gradient-slider__text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 30px;
}

.gradient-slider__text p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .gradient-slider {
    padding: 60px 0;
  }
  .gradient-slider button {
    white-space: nowrap;
    font-size: 38px;
    line-height: 46px;
    margin-right: 30px;
  }
  .gradient-slider__btn:not(.gradient-slider__btn--active):hover {
    font-size: 38px;
    line-height: 46px;
  }
  .gradient-slider__text {
    padding-right: 15px;
    padding-top: 60px;
  }
  .gradient-slider__text h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .gradient-slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gradient-slider__block {
    width: 439px;
    height: 303px;
    border-bottom: 0;
  }
  .gradient-slider__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
  .gradient-slider__box button {
    text-align: right;
    -ms-flex-preferred-size: content;
        flex-basis: content;
    margin: 15px 0;
  }
  .gradient-slider__text {
    padding: 0;
  }
}

.gradient-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px 60px;
}

.gradient-content__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[6];
      grid-template-rows: repeat(6, -webkit-min-content);
      grid-template-rows: repeat(6, min-content);
}

.gradient-content__arrow {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.gradient-content__arrow::after {
  content: '';
  display: inline-block;
  border: 3px solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.gradient-content__arrow:hover {
  color: #F0145A;
}

.gradient-content__arrow:hover::after {
  border: 3px solid #F0145A;
  border-left: 0;
  border-top: 0;
}

.gradient-content__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.gradient-content__box {
  padding-top: 30px;
}

.gradient-content__box h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  padding-top: 30px;
  padding-bottom: 15px;
}

.gradient-content__box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.gradient-content__icon {
  display: inline-block;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
}

.gradient-content__icon img {
  display: block;
}

@media screen and (min-width: 768px) {
  .gradient-content {
    padding-left: 0;
    padding-right: 0;
  }
  .gradient-content__title {
    font-size: 38px;
    line-height: 46px;
  }
  .gradient-content__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
    gap: 60px;
    padding-top: 60px;
  }
  .gradient-content__box {
    padding-top: 0;
  }
  .gradient-content__box h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .gradient-content__box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .gradient-content__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr 1fr;
        grid-template-columns: 1fr  1fr 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
  }
}

.main-content {
  padding-top: 50px;
}

.main-content__slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content;
  gap: 30px;
}

.main-content__pic {
  padding: 0 15px;
}

.main-content__pic img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 12px 12px 0px 0px;
}

.main-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px 30px 45px;
}

.main-content__title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.main-content__regular {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  padding-bottom: 6px;
}

.main-content__small {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.main-content__btn {
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-content__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(36, 163, 255, 0.2);
}

.main-content__circle:hover:not(.main-content__circle--active) {
  background-color: rgba(36, 163, 255, 0.6);
}

.main-content__circle--active {
  background-color: #24a3ff;
}

.main-content__circle:active {
  background-color: #24a3ff;
}

.main-content__clients {
  text-align: center;
  padding-top: 60px;
  margin: 0 -15px;
}

.main-content__clients h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.main-content__list--none {
  display: none;
}

.main-content__list-1 {
  height: 120px;
  background: #1C4280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-1 img {
  padding: 0;
  width: 217px;
  height: 48px;
}

.main-content__list-2 {
  height: 120px;
  background: #143646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-2 img {
  padding: 0;
  width: 199px;
  height: 32px;
}

.main-content__list-3 {
  height: 120px;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-3 img {
  padding: 0;
  width: 179px;
  height: 44px;
}

.main-content__list-4 {
  height: 120px;
  background: #9E4DC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-4 img {
  padding: 0;
  width: 180px;
  height: 42px;
}

.main-content__list-5 {
  height: 120px;
  background: #FD9339;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-5 img {
  padding: 0;
  width: 174px;
  height: 44px;
}

.main-content__list-6 {
  height: 120px;
  background: #E2E2E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-6 img {
  padding: 0;
  width: 194px;
  height: 48px;
}

.main-content__list-7 {
  height: 120px;
  background: #C71C36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-7 img {
  padding: 0;
  width: 138px;
  height: 61px;
}

.main-content__list-8 {
  height: 120px;
  background: #DCF3F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-8 img {
  padding: 0;
  width: 146px;
  height: 76px;
}

.main-content__list-9 {
  height: 120px;
  background: #E2E2E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-9 img {
  padding: 0;
  width: 182px;
  height: 60px;
}

.main-content__list-10 {
  height: 120px;
  background: #282240;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-10 img {
  padding: 0;
  width: 181px;
  height: 38px;
}

.main-content__list-11 {
  height: 120px;
  background: #1D4568;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-11 img {
  padding: 0;
  width: 189px;
  height: 46px;
}

.main-content__list-12 {
  height: 120px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__list-12 img {
  padding: 0;
  width: 152px;
  height: 95px;
}

.main-content__list {
  display: none;
}

.main-content__recommended {
  padding-top: 30px;
}

.main-content__recommended h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.main-content__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
}

.main-content__arrow {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-content__arrow::after {
  content: '';
  display: inline-block;
  border: 3px solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.main-content__arrow:hover {
  color: #F0145A;
}

.main-content__arrow:hover::after {
  border: 3px solid #F0145A;
  border-left: 0;
  border-top: 0;
}

.main-content__item img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content__box {
  padding: 30px;
}

.main-content__box h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.main-content__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 34px;
}

.main-content__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .main-content {
    padding-top: 80px;
  }
  .main-content__slider {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: min-content min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content min-content;
  }
  .main-content__title {
    font-size: 38px;
    line-height: 46px;
  }
  .main-content__text {
    padding-bottom: 30px;
  }
  .main-content__clients {
    margin: 0;
  }
  .main-content__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (120px)[4];
        grid-template-rows: repeat(4, 120px);
  }
  .main-content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-content__recommended {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    gap: 30px;
  }
  .main-content__item--span {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .main-content__slider {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
    -ms-grid-rows: min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content;
  }
  .main-content__pic img {
    height: 100%;
    width: 400px;
    border-radius: 12px 0px 0px 12px;
  }
  .main-content__btn {
    grid-column: span 2;
  }
  .main-content__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (120px)[3];
        grid-template-rows: repeat(3, 120px);
  }
  .main-content__block {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
  }
  .main-content__item--span {
    grid-column: span 1;
  }
}

@media screen and (min-width: 1440px) {
  .main-content__slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
    -ms-grid-rows: 344px;
        grid-template-rows: 344px;
  }
}

.footer__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-top: 62px;
  padding-bottom: 30px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 30px;
}

.footer__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer__map {
  padding-top: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__map:hover {
  color: #F0145A;
}

.footer__fb {
  width: 39px;
  height: 38px;
}

.footer__fb:hover path {
  fill: #F0145A;
}

.footer__phone {
  margin: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}

.footer__email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.footer__email:hover {
  color: #F0145A;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content;
    padding-top: 62px;
    padding-bottom: 30px;
  }
  .footer__top {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    justify-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__mid {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-column: span 2;
    justify-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    padding-bottom: 30px;
  }
  .footer__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    padding: 0;
  }
  .footer__map::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B3B3BA;
    margin: 0 10px;
  }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__phone::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B3B3BA;
    margin: 0 10px;
  }
  .footer__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__email::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B3B3BA;
    margin: 0 10px;
  }
  .footer__text {
    justify-self: flex-end;
  }
}

.main-white {
  padding-top: 30px;
}

.main-white__intro {
  padding: 0 15px;
}

.main-white__intro h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.main-white__text p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}

.main-white__padding {
  padding-bottom: 30px;
}

.main-white__item {
  padding: 0 30px;
}

.main-white__item p:first-child {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  font-size: 36px;
  line-height: 44px;
}

.main-white__item p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
/*# sourceMappingURL=style.css.map */